@model IEnumerable<medlinemxc.Models.t_lineconfd>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Hora por hora</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="~/css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="~/css/style.min.css" rel="stylesheet">

</head>

<body class="grey lighten-3">
    <!--Main layout-->
    <main id="main" class="pt-5 mx-lg-2">
        <div class="container-fluid">

            <div class="row wow fadeIn">
                <div class="col-md-10">

                    <!-- Heading -->
                    <div class="card mb-1 wow fadeIn">

                        <!--Card content-->
                        <div class="card-body d-sm-flex justify-content-between">
                            <h1 class="font-weight-bold mb-2 mb-sm-0 pt-1" style="font-size: 5vw">
                                MXC Boxing Lines
                            </h1>
                        </div>

                    </div>
                </div>
                <div class="col-md-2 pl-0">
                    <img id="medlinelogo" class="d-flex justify-content-right" src="~/Images/medline-logo.png" alt="Medline Logo" height="165vw" width="165vw" style="margin-left:3vw">
                </div>

            </div>

            <!-- Heading -->
            <!--Grid row-->
            <div class="row wow fadeIn">
                <div class="col-md-12 mb-1">

                    <p class="text-muted mb-1 text-center font-weight-light" style="font-size:2vw">Select a line</p>

                </div>


                <!--Grid column-->
                <!--Grid column-->
                @foreach (var item in Model)
                {
                    
                    string nombrelinea = "L" + Convert.ToString(item.line);
                    <div class="col-md-2">
                        <div class="card mb-3 waves-effect fadeIn">
                            <a href='@Url.Action("Horaxhora", new { linea = item.line})'>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <p class="rounded primary-color-dark ml-3 mt-2 text-white text-center" style="width:5vw;font-size:2vw">@nombrelinea</p>
                                    </div>
                                    

                                </div>
                                <div class="card-body pt-0 pb-2">
                                    <p class="text-muted mb-1 text-center font-weight-light" style="font-size:1.5vw">@item.t_lineconf.descrip</p>
                     

                                </div>
                            </a>

                        </div>
                    </div>
                }
              
            </div>




        </div>



    </main>
    <!--Main layout-->
    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="~/js/jquery-3.4.0.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="~/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="~/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="~/js/mdb.min.js"></script>


    <script>


        if (document.documentElement.clientHeight < 850) {
            document.getElementById("medlinelogo").style.height = '9.5vw';
            document.getElementById("medlinelogo").style.width = '9.5vw';
            document.getElementById("main").classList.remove('pt-5');
            document.getElementById("main").classList.add('pt-4');

        }

    </script>

</body>

</html>